#canvas-wrap {
		position:relative 
} /* Make this a positioned parent */

.interface {
	position:absolute; 
	top:0px; 
	left:0px;
	width: 1024px;
	height: 768px;
}

.label { 
	position:absolute; 
	font-family: "Helvetica";
	top:20px; 
	left:30px;
	color: #FFF;
	float: right;
	margin-left: 830px; 
	margin-top: 10px; 
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

#hitbox {
	position: absolute;
	width: 1024px;
	padding-bottom: 1024px;
	height: 768px;
	background-color: #ff0000;
}